body {
  margin: 0;
  font-family: Arial;
}
.nav {
  background: #0055cc;
  padding: 12px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.list {
  padding: 15px;
}
.list a, .list div {
  display: block;
  background: #f1f1f1;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
}
#map {
  height: 80vh;
}
